body {
  width: 100%;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(22, 24, 29) url("https://boomchart.net/bitmine/asset/frontend/img/body-bg.png") repeat scroll 0% 0% / auto padding-box border-box;
}

#root {
  height: 100%;
}

.fm {
  display: none;
}

.navbar {
  padding: 0 4rem 0 4rem;
  background:rgb(29, 31, 36);
}

.nav2 {
  display: flex;
  justify-content: space-between;
}

.fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav-item {
  /* margin-top: 1rem; */
  display: flex;
  align-items: center;
}

.nav-l {
  margin: 0 17px;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  color: #A1ABBD;
  
}

.nav-l:hover {
  text-decoration: none;
  color: rgb(255, 186, 0);
  transition: all 0.6s ease-in-out;
}

.nav-item:hover  {
  border-bottom: 3px solid rgb(255, 186, 0);
  padding: 0 .5rem;
	transition: all 0.6s ease-in-out;
}

.logo-img {
    width: 2.2rem;
}

/****************************** Dropdown btn ******************************/

.dropdown {
  display:inline-block;
}
.dropbtn {
  color: #A1ABBD;
}

.dropbtn:hover {
color: rgb(255, 186, 0);
}

.dropdown-content {
  display:none;
  position: absolute;
  z-index: 2;
  /* background: #131418; */
  border-radius: 10px;
}
.dropdown-content a {
  text-decoration:none;
  display:block;
  margin: 7px 17px;
  font-size: .8rem;
  font-weight: bold;
  color: #A1ABBD;
}
.dropdown-content a:hover {
  color: #131418;
}

.dropdown-item {
  background-color: none;
}

.dropdown:hover .dropdown-content  {
  display:block;
}


/*********************** header section ******************************/
.header-section {
  /* align-items: center; */
  padding-top: 3rem;
  background-position: 50% 50%;
  caret-color: rgb(161, 171, 189);
  color: rgb(161, 171, 189);
  column-rule-color: rgb(161, 171, 189);
  display: flex;
  height: 676.984px;
  background: rgba(0, 0, 0, 0) url("https://boomchart.net/bitmine/asset/frontend/img/bg-2.png") no-repeat scroll 50% 50% / contain padding-box border-box;
}

.header-split {
  display: flex;
  justify-content: space-between;
}

.header-img-box {
  margin: 0 0 8rem 0;
}

.header-img {
  width: 87%;
  padding: 0 0 0 4rem;
}

.header-text-box {
  padding: 2rem 4rem 0 0 ;
  margin: 0;
}

.header-text {
  font-size: 4rem;
  color: #fff;
  line-height: 1.3;
  /* word-spacing: 1; */
  letter-spacing: 3;
  font-weight: bolder;
}

.dot { 
  font-size: 4.5rem;
  color: rgb(255, 186, 0);
  margin-left: 15px;
  font-weight: bolder;
}

.header-text-2 {
  font-size: 2rem;
  color: rgb(255, 186, 0);
  line-height: 1.3;
  font-weight: bolder;
}

.header-link-box {
  margin-top: 3.1rem;
}

.header-button {
  text-decoration: none;
  padding: .7rem 1.5rem;
  border: 4px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.header-button:hover {
  border: 4px solid rgb(255, 186, 0);
  text-decoration: none;
  color:rgb(255, 186, 0);
  transition: all 0.8s ease-in-out;
}

/*************************************** * whatsapp and help * *********************************************/

.fix-whatsapp-help i{
  color:rgb(255, 186, 0);
   position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

.fix-whatsapp-help i:hover {
  color: #3ad33a;
  background-color: #fff;
  border-radius: 60px;
  transition: all 0.9s ease-in-out;
}

.help-button {
  border-radius: 30px;
  padding: .2rem 1.2rem;
  background: #1f73b7;
  position: fixed;
  bottom: 10px;
  right:10px;
  border:none;
  z-index: 1;
  font-weight: bold;
}

.help-button:hover {
  background: #fff;
  transition: all 0.8s ease-in-out;
}

.fix-button {
  background:rgb(255, 186, 0);
  padding: 3rem 3rem;
  border-radius: 50%;
  position: fixed;
  bottom: -56px;
  left: 45%;
  right: 50%;
  z-index: 1;
  color: #fff;
}

.fix-button:hover{
  border: 1px solid rgb(255, 186, 0);
}

.fix-dot {
  background-color:rgb(255, 186, 0);
  position: fixed;
  bottom: 2.5rem;
  left: 54%;
  right: 45%;
  z-index: 1;
  padding: .3rem;
  border-radius: 50%;
}

/* 88888888888888888888888888888888888888888888888888 service design 888888888888888888888888888 */

.service-2 {
  padding: 1rem 4rem 2rem 4rem ;
  text-align: center;
}

.service-title {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 0 1rem 0;
  font-family: 'Montserrat', sans-serif;
}

.service-title-2{ 
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

.service-box {
  text-align: center;
  padding: 25% 3%;
  margin: 3% 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.service-box:hover {
  border: 4px solid rgb(255, 186, 0);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  color:rgb(255, 186, 0);
}

.service-text {
  padding-top: 5%;
  font-weight: bolder;
}

.service-text:hover {
  color:rgb(255, 186, 0);
  transition: all 0.8s ease-in-out
}

.service-box i {
  color:rgb(255, 186, 0);
}

/****************************** letmine design ***********************************************/

#letmine {
  padding: 9rem 4rem;
}

.letmine-1-text {
  color:rgb(255, 186, 0);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.letmine-header-text {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 2rem;
}

.letmine-dot {
  color:rgb(255, 186, 0);
}

.letmine-3-text {
  color: rgb(230, 227, 227);
  line-height: 2;
}

.letmine-img-box {
  margin-top: 4.5rem;
}

.letmine-img {
  max-width: 100%;
  /* width: 43rem; */
}

/******************************************** * How to start section * *****************************/

#start {
 width: 100%;
 padding: 0 4rem;
}

.start-2 {
  padding: 0;
  text-align: center;
}

.start-title {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 1% 0 4% 0;
}

.start-box {
  text-align: center;
  margin: 2% 0;
  color: #fff;
  cursor: pointer;
}

.start-box i {
  color: rgb(255, 186, 0);
}

.start-box:hover {
  text-decoration: none;
  color:rgb(255, 186, 0);
  transition: all 0.8s ease-in-out;
}

.start-link {
  cursor: pointer;
  text-decoration: none;
  /* padding: 2rem; */
}

.start-m {
  margin: 0 auto;
  color: #000;
}

.start-text {
  padding: 5%;
  font-weight: bold;
}

.start-text-2 {
  padding: 2% 7%;
  color: #000;
  font-weight: 500;
}

.start-button {
  margin-top: 2rem;
  font-weight: bold;
}

.start-button:hover {
  background: #fff;
  border: 0;
  transition: all 0.8s ease-in-out;
}

/* 8888888888888888888888888888888 certificate design 8888888888888888888888888888888888888 */

#certificate {
  padding: 4rem ;
  
 }
 
 .certificate {
   padding: 5% 0;
   color: #fff;
   text-align: center;
 }
 
 .c-title {
   font-weight: bold;
   color: #fff;
   margin-bottom: 4rem;
 }
 
 .c-text {
   font-size: 1.2rem;
   font-weight:500;
   line-height: 1.5;
   letter-spacing: 1;
   text-align: left;
 }
 
 .green {
   color: #00ff00;
 }
 
 .c-img {
   width: 70%;
 }
 
 #certificate p {
   margin-bottom: 2rem;
 }
 
 #certificate h3  {
   /* color: rgb(173, 132, 17); */
   color:rgb(255, 186, 0);
   text-align: left;
 }
 
 #certificate h4 {
   text-align: left;
 }

 /************************************** Investment plan section *************************************/

 .letmine-1-text-1 {
  color:rgb(255, 186, 0);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 0 0 1rem 4rem; 
}

 #investment {
   text-align: center;
   padding: 4rem 4rem 10rem 4rem;
 }

 .investment-box {
   background-color: #131418;
   border-radius: 20px;
   padding: 2rem 2rem;
 }

 .investment-box:hover {
   border: 4px solid rgb(255, 186, 0);
   transition: all .8s ease-in-out;
 }

 .investplan-name {
   color: #fff;
   font-weight: bolder;
   font-size: 1.4rem;
   padding-top: 2rem;
   font-family: 'Montserrat', sans-serif;
 }

 .investment-price {
   background-color: #181A20;
   border-radius: 16px;
   padding: 1.4rem 3rem;
   margin: 1.3rem 0 2rem 0;
 }
 
.investment-text {
  font-weight: bolder;
  color: #A1ABBD;
  font-size: .8rem;
}

.investment-price-btc {
  color:rgb(255, 186, 0);
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.investment-duration {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
}

hr {
  background: #9ba8c0;
  margin: .5rem;
}

/************************************** Frequent Ask Question **************************************/

#question {
  padding: 0 4rem 10rem 4rem;
}

.question-header-text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 1.3rem;
}

.question-text {
  color: #A1ABBD;
}

.dot-1 {
  color:rgb(255, 186, 0);
}

.question-accordion {
  /* background:#20242c; */
  background:rgb(29, 31, 36);
  border-radius: 10px;
  margin-bottom: .7rem;
}

.question-button {
  background:rgb(29, 31, 36);
  border: none;
  padding: .8rem 1rem .8rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(190, 190, 190);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.question-button i {
  color:#131418;
  margin-right: .8rem;
  /* background-color:rgb(161, 171, 189); */
  
}

.question-drop-text {
  color: #A1ABBD;
  padding: 0 1rem 0 4.1rem;
  font-size: .8rem
}

/* ********************* * Diversify investment section * *******************************/

#diversify {
  padding: 2rem 4rem 4rem 4rem;
}

.diversify-header {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.diversify-text {
  color: #A1ABBD;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}

.diversify-box {
  padding: 0 3rem 0 4rem;
}

.diversify-h1 {
  font-family: 'Montserrat', sans-serif;
  color:rgb(255, 186, 0);
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.diversify-h1-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
 font-family: 'Montserrat', sans-serif;
 margin-bottom: 8rem;
}

/********************************************** feed back section ********************************/

#feedback {
  padding: 2rem 4rem 4rem 4rem;
}

.feedback-box {
  background-color: #131418;
  padding: 4rem 3rem;
  border-radius: 15px;
  border: 3.5px solid #131418;
}

.feedback-box:hover {
  border: 3.5px solid rgb(255, 186, 0);
  transition: all .8s ease-in-out;
}

.feedback-text {
  color: #fff;
  padding-bottom: 2.5rem;
  font-weight: bolder;
  font-size: .8rem;
}

.feedback-img {
  width: 100%;
  border-radius: 50%;
}

.feedback-name {
  color: #fff;
  font-size: .9rem;
  font-weight: bold;
}

.feedback-role {
  color: #A1ABBD;
  font-size: .8rem;
  font-weight: bold;
}

.feedback-rating {
  color:rgb(255, 186, 0);
}

/***************************** * footer section * *********************************************/

#footer {
  text-align: center;
  padding: 8rem 4rem 10rem 4rem;
}

.footer-img {
  width: 4.1rem;
  margin-bottom: 3rem;
}

.footer-text {
  color: #A1ABBD;
  line-height: 1.5;
  font-weight: bold;
  font-size: .8rem;
  font-family:unset;
  margin-bottom: 3rem;
}

.footer-icon i{
  color: #fff;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
}

.footer-icon i:hover {
  color: rgb(255, 186, 0);
}

.footer-copy {
  color: #fff;
  font-family:unset;
  font-size: .7rem;
  font-weight: bold;
}

.footer-last-text {
  color: #fff;
  font-family: unset;
  font-size: .7rem;
  font-weight: bold;
}



/************************************* Register page Design **************************************/

.collection{
  margin-top: -110px;
}

.register-body {
  background:rgb(33, 37, 41);
  height: 100%;
  max-width: 100%;
}

.register-header {
  position: relative;
  top: 5rem;
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
}

.register-img {
  width: 1.7rem;
  margin-right: 35px;
}

.register-header-link {
  text-decoration: none;
  color: #fff;
  font-size: .7rem;
  font-weight: bold;
  margin-right: 35px;
}

.register-header-link:hover {
  text-decoration: none;
  color: #A1ABBD;
}

.register-background-img {
  height: 990px;
  background: rgb(33, 37, 41) url("https://boomchart.net/bitmine/asset/frontend/img/bg-2.png") repeat scroll 0% 0% / 95rem padding-box border-box;
}

.register-b-box {
  position: relative;
  top: 9.5rem;
}

.register-title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

.register-1-text {
  color: #fff;
  text-align: center;
  font-size: .8rem;
  margin-top: .5rem;
  margin-bottom: 6.5rem;
}

.register-2-title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4.5rem;
}

/* ****** form ****/

.register-form{
  text-align: center;
}

.input-box {
 background-color: #fff;
 padding: .7rem .6rem;
 border-radius: 4px;
}

.register-input {
  background-color: rgba(225, 225, 225, 0.1);
  border: none;
  margin-bottom: 2rem;
  padding: 0 .8rem;
  width: 248px;
  font-size: .7rem;
  color:rgb(29, 31, 36);
}

.register-form-button {
  color: #fff;
  background-color: rgb(23, 43, 77);
  padding: .5rem .9rem;
  margin-top: 1.6rem;
  border: none;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
}

.register-forget-password-box {
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 33%;
}

.forget-password-link {
  text-decoration: none;
  color: #fff;
}

.forget-password-link:hover {
  text-decoration: none;
  color: #A1ABBD;
}

.register-footer-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 9% 0 9%;

}

.register-footer {
  color: #A1ABBD;
  font-size: .7rem;
}

.register-footer-1-link {
  text-decoration: none;
  color:rgb(255, 186, 0);
  font-family: 'Montserrat', sans-serif;
}

.register-footer-1-link:hover {
  color:rgb(255, 186, 0);
  text-decoration: none;
}

.register-footer-link {
  text-decoration: none;
  color: #A1ABBD;
  font-size: .7rem;
  margin-right: 20px;
}

.register-footer-link:hover {
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}


/********************************  Login page *************************************************/

.login-background-img {
  height: 730px;
  background: rgb(33, 37, 41) url("https://boomchart.net/bitmine/asset/frontend/img/bg-2.png") repeat scroll 0% 0% / 80rem padding-box border-box;
}

.login-b-box {
  position: relative;
  top: 6rem;
}

.login-title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 7rem;
}

.login-2-title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5.5rem;
}



/************************************ About page ****************************************/

#about-header {
  height: 676.984px;
  background: rgba(0, 0, 0, 0) url("https://boomchart.net/bitmine/asset/frontend/img/bg-2.png") no-repeat scroll 50% 50% / contain padding-box border-box;
 
}

.about-title {
  color: #fff;
  display: block;
  position: relative;
  top: 17rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
}

.about-a {
  color:rgb(248, 204, 82);
}

.about-b {
  color:rgb(252, 214, 111);
}

.about-o {
  color:rgb(250, 227, 168);
}

.about-u {
  color:rgb(241, 233, 206);
}

.about-text-box {
  padding: 3rem 3rem 8rem 3rem;
}

.about-text-title {
  color:rgb(255, 186, 0);
  font-weight: bold;
  font-family: 2.5rem;
  letter-spacing: 5px;
  margin-bottom: 2.5rem;
}

.about-text {
  color: #A1ABBD;
  font-size: .8rem;
}



/************************* Contact us page ****************************************/

.contact-form-box {
  text-align: center;
  padding: 3rem 3rem 1.5rem 3rem;
}

.contact-input {
  width: 100%;
  background-color: #202228;
  color: #A1ABBD;
  padding: .8rem 1.5rem;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2.1rem;
  border: 2px solid #3d424d;
  border-radius: 7px;
}

.contact-input:hover {
  background-color: #fff;
}

.contact-textarea {
  width: 100%;
  background-color: #202228;
  color: #A1ABBD;
  padding: .8rem 1.5rem;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2.1rem;
  border: 2px solid #3d424d;
  border-radius: 7px;
  height: 140px;
}

.contact-textarea:hover {
  background-color: #fff;
}

.contact-form-button {
  padding: .7rem 1.8rem;
  background-color: rgb(255, 186, 0);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  border-radius: 40px;
  border: 4px solid rgb(255, 186, 0);
}

.contact-form-button:hover {
  background-color: transparent;
  color:rgb(255, 186, 0);
  transition: all 0.8s ease-in-out;
}

.contact-form-button-box {
  text-align: left;
}

.contact-text {
  color: #fff;
  font-size: 3rem;
  font-family: 'Montserrat' sans-serif;
  padding: 0 3rem 4rem 3rem;
  line-height: 1.3;
}

.contact-get-intouch-box {
  padding: 3rem;
}

.get-intouch-title {
  font-size: 1.3rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.get-intouch-text {
  padding-top: .5rem;
  color: #A1ABBD;
  font-size: .8rem;
  font-weight: bold;
}



/****************************** Faq page ******** *********************************************************/

.faq-title {
  font-family: unset;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
  position: relative;
  top: 17rem;
  text-align: center;
}

.faq-f {
  color:rgb(243, 189, 42);
}
.faq-r {
  color:rgb(243, 195, 62);
}
.faq-e {
  color:rgb(245, 201, 82);
}
.faq-q {
  color:rgb(245, 209, 111);
}
.faq-u {
  color:rgb(236, 209, 135);
}
.faq-e2 {
  color:rgb(235, 212, 150);
}
.faq-n {
  color:rgb(235, 217, 168);
}
.faq-t {
  color:rgb(233, 219, 181);
}
.faq-l {
  color:rgb(233, 224, 201);
}
.faq-y {
  color:rgb(233, 229, 220);
}


/************************************* Terms and condition ************************************/

.term-text-box {
  padding: 0 3rem 3rem 3rem;
}

.term-t {
  color:rgb(240, 196, 77);
}

.term-e {
  color:rgb(230, 192, 91);
}

.term-r {
  color:rgb(211, 183, 113);
}

.term-m {
  color:rgb(204, 186, 140);
}

.term-s {
  color:rgb(206, 194, 164);
}

.term-o {
  color:rgb(209, 204, 192);
}

.term-text-title {
  color: rgb(255, 186, 0);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 4px;
}


/****************************************** Sponsoring page ***********************************/

.sponsoring-text-title {
  font-size: 2.3rem;
  font-family: 'Montserrat', sans-serif;
  padding-top: 1rem;
  color: #fff;
  margin-bottom: .8rem;
}


/******************************************************** Dashboard page ************************************/

.dash-collection{
  margin-top: -45px;
}

.dash-body {
  background-color:rgb(247, 242, 229);
  max-width: 100%;
  padding-bottom: .6rem;
}

/* user list page design 88888888 */

.user-list-row {
  padding: 3rem 0 0 5rem;
  max-width: 100%;
}

.user-list-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.admin-dropdown-content {
  display:none;
  position: relative;
  right: 15px;
  z-index: 2;
}

.admin-dropdown-item {
  text-decoration: none;
  color: #d1caca;
  font-size: .7rem;
  font-weight: bold;
}

.admin-dropdown-item:hover {
  text-decoration: none;
  color: rgb(187, 177, 177);
}

.dropdown:hover .admin-dropdown-content  {
  display:block;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: .8rem;
  border-spacing: 0;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.admin-button {
  font-size: .8rem;
  border-radius: 4px;
  margin-right: .3rem;
}

/* user edit admin view  */
.user-edit-container {
  padding: 2rem 1rem 0 3rem;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.user-edit-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.form label {
  margin: 1rem 0;
}

.user-color {
  border-radius: 4px;
  color: #0000ff;
  font-weight: bold;
}

/* user edit withdraw request  */

.user-withdraw-header {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.user-withdraw-box {
  display: flex;
  justify-content: space-between;
}

.withdraw-status-header {
  font-size: .8rem;
  font-weight: bold;
  color: #fff;
}

.withdraw-status-status {
  font-size: .8rem;
  font-weight: bold;
  color: #fff;
  margin-left: 1rem;
}

/* edit user withdraw request */

.dash-1-col {
  background-color:rgb(33, 37, 41);
  width: 3.1rem;
  height: 35.7rem;
  float: left;
  position: fixed;
  z-index: 1;
}
.dash-1-col:hover{
  width: 12rem;
  transition: all 0.5s ease-in-out;
}

.dash-remove {
  display: none;
}

.dash-1-col:hover .dash-remove {
  transition: all 0.12s ease-in-out;
  display: inline;
  padding-left: 1rem;
}

/* .dash-1-col:hover .dash-1-col-link {
  transition: all 0.12s ease-in-out;
  display: block;
} */

.dash-1-col:hover .dash-img-box {
  display: flex;
}

.row-2 {
  padding: 0 0 0 5rem;
  max-width: 100%;
}

.dash-1-col-header {
  padding: 2.5rem .7rem 2.3rem .7rem;
  display: flex;
  justify-content: space-between;
}

.dash-img-box {
  display: none;
}

.dash-img {
  width: 1.7rem;
}

.dash-button {
  border: none;
  background-color:rgb(33, 37, 41);
  padding: 0;
}

.dash-1-col-box {
  margin-bottom: .8rem;
  padding: 0 1.3rem;
}

.dash-1-col-link {
  text-decoration: none;
  color: #fff;
  font-size: .7rem;
  font-weight: bold;
  /* display: none; */
}

.dash-1-col-link:hover{
  text-decoration: none;
  color: #A1ABBD;
}

.dash-1-col-text  {
  color: #A1ABBD;
  font-size: .7rem;
  font-weight: bold;
  padding: .4rem 1.3rem .5rem 1.3rem;
}

.dash-col-2-box {
  margin-top: 6rem;
  background:rgb(33, 37, 41);
  border-radius: 5px;
  width: 100%;
}

.dash-col-2-text {
  color: #fff;
  padding: 1.2rem 1.3rem;
  font-size: .7rem;
  font-weight: bold;
  
}

.dash-col-2-btc {
  color: rgb(250, 191, 31);
  font-size: 1rem;
  /* font-weight: bold; */
  font-family: 'Montserrat', sans-serif;
}

.dash-col-2-box-in {
  margin: 2rem 0;
  background:rgb(33, 37, 41);
  border-radius: 5px;
  width: 100%;
  padding: 1.2rem 1.3rem 1.3rem 1.3rem;
}

.dash-col-2-text-in {
  color: #fff;
  font-size: .9rem;
  font-weight: bold;
  
}

.dash-col-2-text-2 {
  font-size: .8rem;
  font-weight: normal;
}

.dash-upgrade-box {
  margin-top: 1.4rem;
}

.dash-upgrade {
  padding: .4rem;
  background: #fff;
  font-size: .6rem;
  font-weight: bold;
  border-radius: 3px;
  color: #1937e4;
}

.dash-upgrade:hover {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

.dash-col-2-invest {
  color: #fff;
  text-align: center;
  font-size: .8rem;
  padding: 1.5rem 2rem 0 2rem;
  font-family:inherit;
  font-weight: bold;
}

.dash-col-2-invest-btc {
  color: rgb(250, 191, 31);
  font-size: 2rem;
  font-weight: bolder;
}

.dash-invest-link {
  text-align: center;
  margin-top: 1rem;
}

.dash-secure {
  padding: .3rem .6rem;
  background: #fff;
  font-size: .6rem;
  font-weight: bold;
  border-radius: 20px;
  color: #1937e4;
}

.dash-secure:hover {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

.dash-col-4-box {
  margin-top: 6rem;
}

.unverify {
  font-size: .6rem;
  font-weight: bold;
  color: rgb(250, 191, 31);
  padding-top: 1rem;
}

.dash-verify {
  text-align: right;
}

/*************************************** Deposit design ********************************/

.deposit-header {
  margin-top: 6rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(33, 37, 41);
  padding-bottom: 2rem;
  font-size: 2rem;
}

.deposit-box {
  background:rgb(33, 37, 41);
  border-radius: 5px;
  width: 100%;
  padding: 2rem;
}


.deposit-link {
  text-decoration: none; 
  color: rgb(250, 191, 31);
  font-size: 1.5rem;
  font-weight:bold;
}

.deposit-link-button-div {
  text-align: center;
  margin-top: 2rem;
}

.deposit-link-button {
  text-decoration: none;
  font-size: .7rem ;
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid #fff;
  color: #fff;
  padding: .3rem .5rem;
}

.deposit-link-button:hover {
  text-decoration: none;
  color: rgb(250, 191, 31);
  border: 3px solid rgb(250, 191, 31);
}

.deposit-text {
  color: #fff;
  font-size: .8rem;
  font-weight: bold;
}

.deposit-status-header {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 1.2rem 0;
}

.deposit-status {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

/********* logs ************** */

.deposit-log {
  margin: 1.5rem 2rem 2rem 5rem;
  background: rgb(33, 37, 41);
  border-radius: 6px;
  /* padding: 1.2rem; */
}

.deposit-log-header {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 2.4rem;
  padding: 1.2rem 0 0 1.2rem;
}
 

.en-se {
  display: flex ;
  justify-content: space-between;
  color: #525f7f;
  font-size: .7em;
  padding: .5rem 1.2rem .7rem 1.2rem;
}

.deposit-select {
  border-radius: 4px;
  height:1.7rem;
  width: 2.2rem;
  margin: 0 .4rem;
}

.deposit-input {
  border-radius: 4px;
  height: 1.7rem;
}

.deposit-row {
  border: 1.5px solid #26406d;
  border-left: none;
  border-right: none;
  padding: .4rem .3rem;
}

.deposit-row-text {
  color: #376fcf;
  font-size: .5rem;
  font-weight: bold;
  margin-right: 1.9rem;
}

.deposit-row-text-i {
  color: #212a42;
  font-size: .5rem;
  margin-right: 1.8rem;
}

.deposit-row-2 {
  border: 1.5px solid #26406d;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: .6rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.deposit-row-3 {
  display: flex ;
  justify-content: space-between;
  color: #525f7f;
  font-size: .7em;
  padding: .5rem 1.2rem 1rem 1.2rem;
}

.arrow {
  background-color: #fff;
  color:rgb(33, 37, 41);
  margin-right: 5px;
  border-radius: 30px;
 padding: .5rem .7rem;
}

/************************************************* Withdraw Design ****************************/

.withdraw-box {
  margin-top: 6rem;
  /* margin-right: 1rem; */
  background:rgb(33, 37, 41);
  border-radius: 5px;
  width: 100%;
  padding: 1.5rem;
}

.withdraw-header {
  color: rgb(250, 191, 31);
  font-weight: bold ;
  font-size: 1rem;
  padding-bottom: 3rem;
}

.withdraw-input-box{
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
}

.input-btc {
 border: 1px solid #A1ABBD;
 border-radius: 2px;
 padding: 0 0 0 .7rem;
 font-size: .8rem;
 margin-bottom: 1.3rem;
}

.withdraw-input-1 {
  background: transparent;
  border: none;
  width: 45.5rem;
  padding: .6rem .5rem;
  color: #A1ABBD;
  font-weight: bold;
}

.withdraw-input {
  background: transparent;
  border-radius: 2px;
  border: 1px solid #A1ABBD;
  width: 48rem;
  padding: .6rem .5rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1.3rem;
}

.withdraw-button-box {
  text-align: right;
}

.withdraw-button {
  font-size: .8rem;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  padding: .5rem .9rem;
}

.withdraw-row {
  padding: 0 1rem 0 6rem;
  width: 100%;
}

/****************************************** invest plan page **************************************/

.invest-row {
  padding: 0 1.5rem 0 5rem;
}

.invest-all-box {
  margin-top: 6rem;
}

.invest-box {
  background:rgb(33, 37, 41);
  border-radius: 5px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem 1rem;
}

.invest-box-btc {
  color: rgb(225, 189, 0);
  font-family: 'Montserrat', sans-serif;
  padding-top: 2rem;
  font-size: 2rem;
}

.invest-box-text-1 {
  font-weight: lighter;
  padding-bottom: 2rem;
  color: #A1ABBD;
  font-size: .8rem;
}

.invest-box-text {
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 3rem;
  color: #A1ABBD;
  font-size: .8rem;
}

.invest-icon {
  background: rgb(225, 189, 0);
  color: rgb(33, 37, 41);
  margin-right: 1rem;
  border-radius: 15px;
}

.invest-box-button {
  font-size: .7rem;
  border-radius: 5px;
  font-weight: bold;
  margin-right: .6rem;
  padding: 5px 8px;
}

.invest-box-link {
  background: #172b4d;
  font-size: .7rem;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 8px;
  color: #fff;
}

.invest-box-link:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.calculat-modal-bg {
  background-color:rgb(252, 247, 235);
  padding: 1rem 1rem;
}

.modal-title {
  font-size: .7rem;
  color: #A1ABBD;
  padding-bottom: 1rem;
}

.modal-pack {
  color: #172b4d;
  font-weight: bold;
  font-size: .9rem;
  margin-bottom: 5rem;
}

.calculate-input-btc {
  border-radius: 2px;
  font-size: .8rem;
  background: #fff;
  padding: .6rem 0 .6rem .3rem;
 }

 .calculate-input {
 
  border: none;
  width: 12rem;
  padding: .4rem .4rem;
  color: #A1ABBD;
  font-weight: bold;
}

.cal-button-2 {
  background: #172b4d;
  font-size: .7rem;
  border-radius: 5px;
  font-weight: bold;
  padding: .5rem .8rem;
  color: #fff;
}

.non-result {
  font-size: .8rem;
}

.result-icon {
  font-size: 5rem;
  color: green;
  margin-bottom: 1.5rem;
}

.non-i {
  font-size: 5rem;
  color: red;
  margin-bottom: 1.5rem;
}

.cal-title {
  color: #172b4d;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: .7rem;
}

.close-button {
  font-weight: bold;
  color: #fff;
  background:#1937e4;
  font-size: .8rem;
  padding: .6rem .6rem;
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
}

.modal-body-2 i {
  color: red;
  font-size: 2rem;
}

/*********************************** share BTC page *********************************/

.share-row {
  padding: 0 1.5rem 0 5rem;
  width: 100%;
}

.share-box {
  margin-top: 6rem;
  margin-bottom: 22rem;
  background:rgb(33, 37, 41);
  width: 100%;
  border-radius: 5px;
  padding: 1.3rem;
}

.share-box-title {
  color: rgb(225, 189, 0);
  font-weight: bold;
  padding-bottom: .2rem;
}

.share-box-button {
  font-size: .7rem;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #0000ff;
  font-weight: bold;
  padding: .3rem .4rem;
}

.close-b {
  text-align: right;
  font-size: 1.5rem;
  background: transparent;
  border: none;
}

.share-input-box {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 2rem ;
  font-size: .8rem;
  font-weight: bold;
  color: #A1ABBD;
}

.label-amount {
  margin-bottom: 3rem;
}

.share-double-input {
  margin-left: 1rem;
}

.share-input-btc {
  border-radius: 2px;
  border: 1px solid #000;
  font-size: .8rem;
  background: #fff;
  height: 2.5rem;
  margin-bottom: 2rem;
 }

 .share-input-1 {
  border: none;
  width: 18rem;
  padding: .4rem .4rem;
  color: #A1ABBD;
  font-weight: bold;
  margin-bottom : 2rem;
}

.share-input {
  border-radius: 2px;
  border: 1px solid #000;
  font-size: .8rem;
  padding: .5rem 0;
  color: #A1ABBD;
  font-weight: bold;
  width: 20rem;
}

.button-box {
 text-align: right;
 padding: 0 2rem 2rem 2rem;
}

.share-modal-button {
  width: 4rem;
  border-radius: 5px;
  border: none;
  background: #0000ff;
  color: #fff;
  padding: .5rem 0 ;
  font-weight: bold;
}

.share-modal-body {
  text-align: center;
  padding: 2rem;
  font-size: .8rem;
}

.share-modal-title {
  margin-bottom: 1.5rem;
}

.pin-input-box {
  border: 1px solid #A1ABBD;
  padding: .5rem .4rem;
  border-radius: 4px;
  background: rgb(248, 247, 247);
  

}

.pin-input {
  border: none;
  width: 12rem;
  font-size: .7rem;
  padding-left: .5rem;
  margin-bottom: 2rem;
}

.button-box-2 {
  text-align: right;
}

.share-close-button-box {
  text-align: left;
}

.share-close-button {
    font-weight: bold;
    color: #fff;
    background:#1937e4;
    font-size: .8rem;
    padding: .6rem .6rem;
    border-radius: 4px;
    border: none;
}

/***************************************  Support page *********************************/

.support-modal-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem ;
  font-size: .8rem;
  font-weight: bold;
  color: #A1ABBD;
}

.form-control-custom {
  border: none;
  margin-bottom: 2rem;
}

.support-label {
  margin-right: 5rem;
  font-size: .8rem;
}

.support-input {
  width: 20rem;
  padding: .4rem 0;
  margin-left: -10px;
  border-radius: 3px;
  border: 1px solid #000;
  font-size: .7rem;
  color: #A1ABBD;
}

.support-input-2 {
  width: 20rem;
  padding: .4rem 0;
  border-radius: 3px;
  font-size: .7rem;
  color: #A1ABBD;
}

.support-textarea {
  margin-left: -7px;
 
}

.support-button-box {
  text-align: right;
  margin-top: 4rem;
  padding-right: 1rem;
}

.support-button {
  border: none;
  background: #0000ff;
  color: #fff;
  font-weight: bold;
  padding: .5rem .7rem;
  border-radius: 5px;
}

/************************************** Profile page ***************************************/

.profile-row {
    padding: 0 0 0 5rem;
    width: 100%;
}

.profile-box {
  margin-top: 6rem;
  background: #fff;
  padding: 1.2rem;
}

.profile-title {
  color: #32325d;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.profile-form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-label {
  font-size: .8rem;
  color: #545964;
}

.profile-input {
  padding: .5rem;
  width: 30rem;
  border-radius: 4px;
  border: 1px solid rgb(65, 63, 63);
  font-size : .8rem;
  color: #8895ac;
}

.profile-button-box-1 {
  text-align: right;
  margin-top: 1rem;
}

.profile-button {
  border: none;
  background: linear-gradient(#dfd8d8, #d1caca);
  color: #0000ff;
  font-size: .7rem;
  font-weight: bold;
  padding: .5rem .7rem;
  border-radius: 4px;
}

.profile-box-2 {
  margin-top: 2rem;
  background: #fff;
  padding: 1.2rem;
}

.profile-title-2 {
  color: #32325d;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: .9rem;
}

.profile-text {
  font-size: .8rem;
  color: #545964;
  font-weight: lighter;
  line-height: 1.7;
}

.profile-button-box {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.profile-unverify-text {
  font-size: .5rem;
  color: #2643e9;
  background: #eaecfb;
  font-weight: bold;
  border-radius: 10px;
  padding: .1rem .5rem;
}

.profile-file-button {
  width: 100%;
  font-size: .1rem;
  margin-right: -2.5rem;
}

.profile-file-button::-webkit-file-upload-button {
  visibility: hidden;
  width: 0.1px;
}

.profile-file-button::after {
  content: 'Upload';
  display: inline-block;
  background: linear-gradient(#dfd8d8, #d1caca);
  color: #2643e9;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: .7rem;
}

.profile-button-box-2 {
  text-align: right;
}

.profile-button-2 {
  font-size: .7rem;
  color: #2643e9;
  background: linear-gradient(#dfd8d8, #d1caca);
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
}

/**************************************  Security page **********************************/

.secure-row {
  padding: 0 1.5rem 0 5rem;
}

.secure-box {
  margin-top: 6rem;
  background: rgb(33, 37, 41);
  padding: 1.2rem;
}

.secure-title {
  color: #fff;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
}

.secure-input {
  padding: .5rem;
  width: 21rem;
  border-radius: 4px;
  border: 1px solid rgb(192, 189, 189);
  font-size : .8rem;
  color: #e0e5ee;
  background: transparent;
}

.secure-label {
  font-size: .8rem;
  color: #f8f8f8;
  font-weight: bold;
}

.secure-button {
border: none;
background: linear-gradient(#f8f8f8, #f8f8f8);
color: #0000ff;
font-size: .7rem;
font-weight: bold;
padding: .5rem .7rem;
border-radius: 4px;
}

.fc2 {
  padding: 0 1.5rem 0 5rem;
}

.fc2-box {
  background:rgb(33, 37, 41);
  padding: 2.5rem;
  margin-top: 1.5rem;
}

.fc2-text {
  color: #fff;
  font-size: .9rem;
}

/******************************************* Referral page *********************************/

.referral-row {
  width: 100%;
  padding-bottom: 3.5rem;
}

.referral-box {
  margin-top: 6rem;
}

.referral-log {
  margin: 1.5rem 0 2rem 4.5rem;
  background: rgb(33, 37, 41);
  border-radius: 6px;
  padding-bottom: 2rem;
}

.referral-row-text {
  color: #376fcf;
  font-size: .5rem;
  font-weight: bold;
  margin-left: 4rem;
}

.referral-row-text-i {
  color: #212a42;
  font-size: .5rem;
  margin-left: 4.5rem;
}

/******************************* Message and Loading box design ************************/

.loading {
  display: block !important;
}

.danger {
  color: #a02020
}

.success {
  color: #20a020;
}

.err-box {
  text-align: center;
  margin: 0 35%;
}

.alert {
  padding: .1rem;
  border: 0.1rem solid transparent;
  border-radius: .5rem;
  font-size: .8rem;
}

.alert-info{
  color: #2020a0;
  background: #e0e0ff;
  /* width: 20rem; */
}

.alert-danger{
  color: #a02020;
  background: #ffe0e0e0;
  /* width: 20rem; */
  text-align: center;
}

/* 8888888888888888888888888888888888 coinpayment page 8888888888888888888888888888 */

.coin-container {
  margin: 2rem 15rem;
  width: 100%;
}
.fd-view {
  width: 100%;
  padding-top: 5rem;
}

.select-coin {
  border: 1px solid #000;
  margin: 1.5rem 0;
  padding: .5rem .2rem;
}

.coin-type {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 13rem;
  margin-left: .5rem;
}

.ltc {
  display: none;
}

.eth {
  display: none;
}

.coin-amount {
  font-weight: bold;
}

.side-img {
  margin-bottom: 2rem;
}

.pf {
  width: 85%;
}

.payment-button {
  width:85%;
  padding: .8rem;
  margin: 2rem 0;
}

/* 888888888888888888888888888 payment modal 888888888888888888888888888888888888*/

.laddr {
  display: none;
}

.eaddr {
  display: none;
}

.b {
  font-weight: bold;
}

#timer {
  font-weight: bold;
  font-size: 1.5rem;
}

#baddress {
  width: 80%;
  font-weight: bold;
  padding: .5rem;
}

.copy-button-modal {
  display: flex;
  justify-content: space-between;
}

#laddress {
  width: 80%;
  font-weight: bold;
  padding: .5rem;
}

#eaddress {
  width: 80%;
  font-weight: bold;
  padding: .5rem;
}



/*************************** Responsive Design / for mobile view **********************/

@media (max-width: 990px) {

  .fd {
    display: block;
  }

  .fd-view {
    display: none;
  }

  .fm {
    display: block;
  }

  .help-button {
    border-radius: 30px;
    padding: .2rem 1.2rem;
    background: #1f73b7;
    position: fixed;
    bottom: 10px;
    right:10px;
    border:none;
    z-index: 1;
    font-weight: bold;
  }

  body {
    width: 100%;
  }

  .dropbtn {
    color: #A1ABBD;
    margin-top: .7rem;
  }

  .dropdown-content {
    position: relative;
    right: 10px;
  }

  .header-section {
    justify-content: space-around;
    width: 100%;
    height: 506.984px;
  }

  .header-split {
    display: block;
    text-align: center;
  }

  .header-img-box {
    margin-bottom: 0;
    width: 100%;
  }

  .header-img {
    width: 10rem;
    padding: 2rem 0 0 0;
  }

  .header-text-box {
    text-align: center;
    position: relative;
    left: 2rem;
  }

  .header-text {
    font-size: 2rem;
    line-height: .9;
  }

  .header-text-2 {
    font-size: 1.5rem;
    line-height: 1;
  }
  
  /*********************** service for mobile ***********/

  .service-title {
    font-size: 1rem;
    line-height: .5;
  }
  
  .service-title-2{ 
    font-size: .9rem;
    /* margin-bottom: .5rem; */
  }

  .dot {
    font-size: 1.5rem;
  }

  /******************************* letmine for mobile *****************/
  
  #letmine {
    padding: 3rem 3rem;
  }
  
  .letmine-1-text {
    font-size: 1.2rem;
  }
  
  .letmine-header-text {
    font-size: 1.5rem;
    
  }

  .letmine-3-text {
    font-size: .8rem;
  }
  
  .letmine-img-box {
    margin-top: 3.5rem;
  }

  /************************ start for mobile ********************************/

  #start {
    width: 100%;
    padding: 0 2rem;
   }
   
   .start-title {
     font-size: 1.5rem;
   }

   .start-text {
     font-size: 1rem;
     padding: .8rem;
     margin: 0;
   }

   /***************************** certificate for mobile *******************/

   #certificate {
  padding: 2rem ;
  
 }

 .c-title {
  margin-bottom: 1rem;
 }
 
 .c-text {
   font-size: .9rem;
   text-align: center;
 }
 
 .c-img {
   width: 80%;
 }
 
 
 #certificate h3  {
   font-size: 1.3rem;
 }
 
 #certificate h4 {
   font-size: .9rem;
 }

 /**************************** investment for mobile ****************************/

 .letmine-1-text-1 {
  font-size: .9rem;
  padding: 0 0 0 2rem; 
}

 #investment {
   text-align: center;
   padding: 2rem 2rem 5rem 2rem;
 }

 .investment-box {
   margin-bottom: 1rem;
 }

 /********************** question for mobile ***************************/

 #question {
  padding: 0 2rem 5rem 2rem;
}

.question-header-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.question-text {
  margin-bottom: 1.1rem;
  font-size: .9rem;
}

/********************************* Diversify for mobile **************************/

#diversify {
  padding: 0 2rem 1rem 2rem;
  text-align: center;
}

.diversify-header {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.diversify-text {
  margin-bottom: 3rem;
}

.diversify-h1 {
  font-size: 1.8rem;
}

.diversify-h1-text {
  font-size: .8rem;
 
}

/***************************** Feedback for mobile *********************/ 

#feedback {
  padding: 0 2rem 0 2rem;
}

.fmobile {
  letter-spacing: .1rem;
  font-size: .8rem;
}

.feedback-box {
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
}

.feedback-img {
  width: 50%;
}

.contact-text {
  font-size: 2rem;
}

.t-title {
  font-size: 2.7rem;
}

/**************** withdraw for mobile *******************************/

.withdraw-input-1 {
  width: 19rem;
}

.withdraw-input {
  width: 21.5rem;
}

.profile-input {
  width: 20rem;
}

.dash-username {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: right;
  font-weight: bold;
  font-size: .8rem;
}

.dash-col-2-box {
  margin-top: 0;
}

.deposit-header {
  margin-top: 0;
}

.withdraw-box {
  margin-top: 0;
}

.invest-all-box {
  margin-top: 2rem;
}

.share-box {
  margin-top: 0;
}

.profile-box {
  margin-top: 2rem;
}

.secure-box {
  margin-top: 2rem;
}

.referral-box {
  margin-top: 2rem;
}

.fm-container {
  margin: 1rem 2rem 4.5rem 6rem;
}

.fm-select-coin {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  padding: .3rem .1rem;
}

.fm-coin-type {
  font-weight: bold;
  font-size: .7rem;
  margin-left: .5rem;
}

.fm-coin-amount {
 margin-right: 1rem;
 font-size: .7rem;
}

.coin-image {
  margin: .8rem;
  font-size: .7rem;
}

.payment-button {
  width:100%;
  padding: .4rem;
  margin: 2rem 0;
}

.pf {
  width: 100%;
  margin-top: 1rem;
}

.pfa {
  width: 100%;
}
  
}

/**************************** 512 width mobile responsive ***********************/

@media(max-width: 520px) {

  html {
    max-height: 500px;
  }

  /******* user edit admin view ********/

  .user-edit-container {
    font-size: .8rem;
  }

 .user-edit-header {
    font-size: .9rem;
  }

  .user-withdraw-header {
    font-size: .9rem;
  }

  .fd {
    display: none;
  }

  .fm {
    display: block;
  }

  .fix-whatsapp-help i{
    font-size: 1.6rem;
  }
  
  .help-button {
    border-radius: 50px;
    padding: .2rem .4rem;
    background: #1f73b7;
    position: fixed;
    bottom: 10px;
    right:10px;
    z-index: 1;
    
  }
  
  .help-button:hover {
    background: #fff;
    transition: all 0.8s ease-in-out;
  }
  
  .fix-button {
    padding: 2.5rem 2.5rem;
    bottom: -50px;
    left: 40%;
    right: 54%;
  }
  
  .fix-button:hover{
    border: 1px solid rgb(255, 186, 0);
  }
  
  .fix-dot {
    background-color:rgb(255, 186, 0);
    position: fixed;
    bottom: 2rem;
    left: 65%;
    right: 35%;
    z-index: 1;
    padding: .2rem;
    border-radius: 50%;
  }

  .navbar {
    padding: 0 2rem 0 2rem;
  }

  .header-text {
    font-size: 1.5rem;
    line-height: .9;
  }

  .header-text-2 {
    font-size: 1rem;
    line-height: 1;
  }

  .header-img {
    width: 8rem;
  }

  .service-2 {
    padding: .5rem 1rem;
  }

  .service-title {
    font-size: .9rem;
    line-height: .6;
  }
  
  .service-title-2{ 
    font-size: .8rem;
    font-family:unset;
    font-weight: bold;
  }

  .service-box {
    margin-bottom: .5rem;
  }

  .dot {
    font-size: 1.5rem;
  }

  #letmine {
    padding: 2.5rem 1.4rem;
  }
  
  .letmine-1-text {
    font-size: .8rem;
  }
  
  .letmine-header-text {
    font-size: 1.1rem;
    
  }

  .c-title {
    font-size: 1.4rem;
  }

  .question-button {
    padding: .8rem .8rem .8rem .8rem;
    width: 100%;
    font-size: .7rem;
  }
  
  .question-button i {
    color:#131418;
    margin-right: .8rem;
    
  }

  .feedback-img {
    width: 100%;
  }

  /******** footer for mobile *************/

  #footer {
    padding: 4rem 2rem 5rem 2rem;
  }
  
  .footer-img {
    margin-bottom: 2.5rem;
  }
  
  .footer-text {
    font-size: .7rem;
    margin-bottom: 2.5rem;
  }
  
  .footer-icon i{
    margin-bottom: 2.5rem;
  }
  
  .footer-copy {
    font-size: .6rem;
  }
  
  .footer-last-text {
    font-size: .6rem;
  }

  .register-header {
    padding: 1.5rem 3rem;
  }

  .register-footer-box {
    display: block;
   text-align: center;
  
  }

  .contact-text {
    font-size: 1.4rem;
    padding: 0 1rem 2rem 1rem;
  }

  .contact-get-intouch-box {
    padding: 0;
    margin-bottom: 1.4rem;
    text-align: center;
  }

  .faq-title {
    font-size: 1.5rem;
  }

  .t-title {
    font-size: 1.6rem;
  }
  
  .term-text-box {
    padding: 0 2rem 2rem 2rem;
  }

  .about-text-title {
    margin-bottom: 1.3rem;
  }

  .p-title {
    font-size: 2rem;
  }

  .sponsoring-text-title {
    font-size: 1.5rem;
  }

  .s-title {
    font-size: 2rem;
  }

  .dash-1-col:hover{
    width: 10rem;
  }

  .withdraw-input-box{
    display: block;
  }
  
  .withdraw-input-1 {
    width: 60%;
  }
  
  .withdraw-input {
    width:  100%;
  }

  .share-input-1 {
    width: 80%;
  }
  
  .share-input {
    width: 100%;
  }

  .support-input {
    width: 100%;
    margin: 0;
  }

  .support-input-2 {
    width: 100%;
  }

  .profile-form-box {
    display: block;
  }

  .secure-input {
    width: 100%;
  }

  .fc2-box {
    padding: 2rem 1rem;
  }

  .profile-input {
    width: 100%;
  }
   

  
}
/******************* 330 width mobile responsive ************************/

@media(max-width: 330px) {

  .header-text {
    font-size: 1rem;
    line-height: .6;
  }

  .header-text-2 {
    font-size: 1rem;
    line-height: 1;
  }

  .header-img {
    width: 8rem;
  }

  .investplan-name {
    font-size: 1rem;
    padding-top: 2rem;
    
  }
  
 .investment-text {
   font-weight: bolder;
   color: #A1ABBD;
   font-size: .8rem;
 }
 
 .investment-price-btc {
   font-size: 1rem;
 }

 .question-header-text {
  font-size: 1rem;
  margin-bottom: .8rem;
}

.register-header {
  padding: 1.5rem 1rem;
}

.about-text-box {
  padding: 1rem 1rem 2rem 1rem;
}

.about-title {
  font-size: 2.5rem;
}

.contact-title {
  font-size: 2.5rem;
}

.faq-title {
  font-size: 1rem;
}

.t-title {
  font-size: 1.3rem;
}

.term-text-box {
  padding: 0 1rem 2rem 1rem;
}

.p-title {
  font-size: 1.7rem;
}

.s-title {
  font-size: 1.8rem;
}

.sponsoring-text-title {
  font-size: 1.2rem;
}

.dash-1-col:hover{
  width: 8rem;
}

.deposit-header {
  font-size: 1.7rem;
}

.deposit-box {
  padding: 1rem;
}

.deposit-link {
  font-size: 1rem;
}

.deposit-text {
  font-size: .7rem;
}

.investment-box {
  padding: 2rem 2rem;
}

.invest-box-btc {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.invest-box-text {
  padding-left: .1rem;
  font-size: .7rem;
}

.invest-icon {
  margin-right: .2rem;
}

.invest-box-button {
  font-size: .4rem;
  margin-right: .3rem;
  padding: 3px 4px;
}

.invest-box-link {
  font-size: .5rem;
  padding: 3px 4px;
}
  
}